*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;

}

ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin-top: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover{
    background: #fff;
    color: black;
}

ul li.active a{
    background: #fff ;
    color: black ;
    flex-wrap: wrap;
}
.principale{
    max-width: 14rem;
    margin:0 auto ;
    flex-wrap: wrap;
}


.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre h1{
    color: #fff;
    font-size: 50px;
}

.bouton{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}

.bouton a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
  
}

.btn{
    transition: 00.6s ease ;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width:768px) {
    .titre {
        padding: 0px 20px;    
    }
    
    .titre h1 {
        font-size: 30px;      
    }

    .bouton{
        position: fixed;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .bouton a{
        font-size: 10px; 
    }
    /* .bouton a {
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: -10px;
    } */
    .btn:hover{
        margin-right: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        padding: 0px 20px; 
    }
    ul li a{
        font-size: 15px; 
    }
    /* .titre p {
        font-size: 17px;
        margin-bottom: 0px;    
    }
    .header{
        padding: 0px;     
    }
    ul{
        padding: 20px;
        flex-direction: column;
    }
   
    ul li a {
        padding: 0px;
        font-size: 16px;

    } */
}