* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 5px;
}

div {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    margin: .5px;
    width: 60px;
    height: 60px;
}

#tog {
    margin: 10px 0px;
}



.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(.6);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}


@media (max-width:500px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 8vw;
        height: 8vw;
    }

    .allimg {
        width: 7vw;
    }
}