*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
}

body{
    background-color: white;
}

.titre{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    /* transform: translate(-50%, -50%); */
}

.titre h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.titre h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.titre p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image img:hover img {
    transform: scale(1.2);
}
.div{
    flex: 1;

}

.div h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}

.div .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;   
}

.div .read-more:hover{
    background-color: #3e8e41;

}

.container1{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle1{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image1{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image1 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image1 img:hover img {
    transform: scale(1.2);
}
.div1{
    flex: 1;

}

.div1 h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div1 p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}


.container2{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle2{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image2{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image2 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image2 img:hover img {
    transform: scale(1.2);
}
.div2{
    flex: 1;

}

.div2 h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div2 p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}

.container3{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle3{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image3{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image3 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image3 img:hover img {
    transform: scale(1.2);
}
.div3{
    flex: 1;

}

.div3 h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div3 p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}

.container4{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle4{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image4{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image4 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image4 img:hover img {
    transform: scale(1.2);
}
.div4{
    flex: 1;

}

.div4 h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div4 p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}

.container4{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle4{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image4{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image4 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image4 img:hover img {
    transform: scale(1.2);
}
.div4{
    flex: 1;

}

.div4 h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div4 p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}

.container5{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;   
}

.libelle5{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.image5{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image5 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image5 img:hover img {
    transform: scale(1.2);
}
.div5{
    flex: 1;

}

.div5 h3{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;   
}

.div5 p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color:#666;
}

@media screen and (max-width:768px) {
    .titre {
        padding: 0px 20px;    
    }
    .titre h1 {
        font-size: 30px;      
    }
    .titre p {
        font-size: 17px;
        margin-bottom: 0px;    
    }
    .container{
        padding: 0px;     
    }
    .libelle{
        padding: 20px;
        flex-direction: column;
    }
    .image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .titre-content {
        padding: 0px;
        font-size: 16px;

    }
}